<div class="container">



    <div class="" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is the Vaccine locator?</a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card card-body bg-info text-white mb-3">
                    Vaccine locator is a comprehensive website for Jordan residents to find the nearest COVID-19 vaccine location.
                    The Vaccine locator can also provide Jordan residents with information for scheduling vaccination appointments.
                    You can search specifically for facilities that offer immediate immunizations and for specific brands of vaccines.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who can get vaccinated right now?</a>
                </h5>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    All individuals 12 years of age and older are eligible for the COVID-19 vaccine.
                    People who are 12 to 17 years old are only eligible for the Pfizer vaccine. Many sites do not require an appointment to get vaccinated.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What should I do before I go to a vaccination site?</a>
                </h5>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    Make an appointment if the site requires one.

                    Wear a face covering to your appointment. You will not be admitted to the site without one.

                    You will also need to complete the NYS COVID-19 Vaccine Form before your appointment. The person administering the vaccine is required to check that you completed the form before you can get vaccinated.

                    Reschedule your appointment if you are not feeling well on the day of your appointment.
                </div>
            </div>
        </div>
        
        <div class="faqHeader">about the vaccine </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why should the corona vaccine be taken? </a>
                </h5>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    Vaccination with vaccines against diseases makes the human being with antibodies, and when the same disease attacks him again,
                    there is a first line of defense that repels the microbe and prevents it from entering the cells, and if it happens and enters it kills it.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can a vaccinated person transmit the COVID-19 virus? </a>
                </h5>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    It is not yet known whether a person who has been vaccinated
                    can contract Covid-19 infection without symptoms and spread that infection to another person. Those who have been vaccinated should follow the same safety
                    precautions as those who have not been vaccinated, including wearing a mask,
                    practicing social distancing and washing hands frequently.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Should I delay getting the COVID-19 vaccine if I recently received another type of vaccine?</a>
                </h5>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    Scientists suggest delaying vaccination against COVID-19 if one has received another vaccine within the past 14 days. He must also wait two weeks after receiving the COVID-19 vaccine to receive another vaccine, such as the flu shot.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h5 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What are the long-term side effects of the COVID-19 vaccines?</a>
                </h5>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="card card-body bg-info text-white mb-3">
                    Since clinical trials of COVID-19 vaccines only began in the summer of 2020, it is not yet clear whether these vaccines will have long-term side effects, however vaccines rarely cause long-term side effects.
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <div class="my-div"></div>
</div>
