<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets\logo.png" class="my-logo img-fluid"/>
           
        </a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class=" my-2 my-lg-0">
                <a class="nav-link" routerLink="home">Home</a>

            </div>
            <div class=" my-2 my-lg-0">
                <a class="nav-link" routerLink="FAQ">FAQ</a>

            </div>


        </div>
    </div>

</nav>
