.my-info {
    padding: 10px;
    background-color: rgb(10, 87, 150);
    color: white;
    margin-top: 10px;
}

.my-form{
    margin: 15px;
}

.my-button{
    font-family:'Times New Roman', Times, serif;
}
