<div class="container" style="max-width: 756px">
    <div class="my-info text-center">
        <h5>Please Fill Your Information!   </h5>
    </div>
    <form class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="font-italic font-weight-bold" for="text">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="First Name">
            </div>
            <div class="form-group col-md-4">
                <label class="font-italic font-weight-bold" for="text">Last Name</label>
                <input type="text" class="form-control" id="lname" placeholder="Last Name">
            </div>
            <div class="form-group col-md-4">
                <label class="font-italic font-weight-bold" for="inputage">Age</label>
                <input type="number" class="form-control" id="number" placeholder="14">
            </div>
        </div>
        <div class="form-group">
            <label class="font-italic font-weight-bold" for="inputphone">Phone Number</label>
            <input type="number" class="form-control" id="number" placeholder="+962 ##########">
        </div>
        <div class="form-group ">
            <label class="font-italic font-weight-bold" for="inputdate">Date</label>
            <input type="date" class="form-control" id="inputdate">
        </div>
        <div class="form-group">
            <label class="font-italic font-weight-bold" for="inputAddress2">Required Vaccine</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Senopharm
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Pfizer
                </label>
            </div>
            <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                    AstraZeneca
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold" for="inputCity">Required Dose: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input ml-3" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                </div>
            </div>

        </div>

        <div class="col-md-12 text-center my-button">
            <button type="submit" class="btn btn-primary font-weight-bold btn-block">Send</button>
        </div>
    </form>
</div>
